<html>
  <head>
    <link rel="stylesheet" type="text/css" href="styles.css" />
  </head>
  <body>

<div class="wrapper">

<div class="container">

  <div class="scene">
    <div class="cloud-container">
      <div class="sun">
        <div class="cloud" id="cloud-sun"></div>
        <div class="moon"></div>
      </div>
      <div class="cloud" id="cloud-1"></div>
      <div class="cloud" id="cloud-2"></div>
      <div class="cloud" id="cloud-3"></div>
      <div class="cloud" id="cloud-4"></div>
      <div class="cloud" id="cloud-5"></div>
    </div>


    <div class="houses">
      <div class="house-2">
        <div class="tank">
          <div class="tank-details"></div>
        </div>
        <div class="house-2-sign"></div>
        <div class="house-2-windows">
          <div class="house-windows-row">
            <div class="window house-2-window"></div>
            <div class="window house-2-window"></div>
            <div class="window house-2-window"></div>
          </div>
          <div class="house-windows-row">
            <div class="window house-2-window"></div>
            <div class="window house-2-window"></div>
            <div class="window house-2-window"></div>
          </div>
          <div class="house-windows-row">
            <div class="door house-2-door"></div>
            <div class="window house-2-window"></div>
            <div class="window house-2-window"></div>
          </div>
        </div>

        <div class="house-2-rack"></div>

      </div>
      </div>
    </div>
    <div class="tree-container" id="tree-1">
      <div class="tree">
        <div class="leaf" id="leaf-1"></div>
        <div class="leaf" id="leaf-2"></div>
        <div class="leaf" id="leaf-3"></div>
      </div>

      <div class="tree-base"></div>
    </div>
    <div class="tree-container" id="tree-3">
      <div class="tree">
        <div class="leaf" id="leaf-1"></div>
        <div class="leaf" id="leaf-2"></div>
        <div class="leaf" id="leaf-3"></div>
      </div>

      <div class="tree-base"></div>
    </div>
    <div class="tree-container" id="tree-4">
      <div class="tree">
        <div class="leaf" id="leaf-1"></div>
        <div class="leaf" id="leaf-2"></div>
        <div class="leaf" id="leaf-3"></div>
      </div>

      <div class="tree-base"></div>
    </div>
    <div class="streetlamp" id="streetlamp-1">
      <div class="streetlamp-glow"></div>
    </div>
    <div class="streetlamp" id="streetlamp-2">
      <div class="streetlamp-glow"></div>
    </div>

    <div class="tree-container" id="tree-2">
      <div class="tree">
        <div class="bird bird-1"></div>
        <div class="bird bird-2"></div>
      </div>
      <div class="tree-base"></div>
    </div>

    <div class="bike-container">

      <div class="bike-frame"><span></span></div>

      <div class="bike-wheel" id="wheel-1"><span></span></div>
      <div class="bike-wheel" id="wheel-2"><span></span></div>

    </div>

    <div class="mailtruck">

      <div class="mailtruck-letter">
        <div class='letter'></div>
      </div>

      <div class="mailtruck-wheels"></div>
      <div class="mailtruck-details">
        <span></span>
      </div>

    </div>

    <div class="rain">
      <div class="drops-container">
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
      </div>
      <div class="drops-container">
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
      </div>
      <div class="drops-container">
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
      </div>
      <div class="drops-container">
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
      </div>
      <div class="drops-container">
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
      </div>
      <div class="drops-container">
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
      </div>
      <div class="drops-container">
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
        <div class="drop"></div>
      </div>

    </div>

  </div>
</div>
</div>
<script src="index.js"></script>
  </body>
</html>