<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!-- Affichage standard des données -->
        <table>
            <thead>
                <th>Entreprise</th>
                <th>Secteur</th>
                <th>Typo</th>
                <th>Mission</th>
                <th>Site internet</th>
                <th>Nom</th>
                <th>Rôle</th>
                <th>Compétence 1</th>
                <th>Compétence 2</th>
            </thead>
            <tr th:each="adherent : ${adherents}">
                <td th:text="${adherent.company}"></td>
                <td th:text="${adherent.sector}"></td>
                <td th:text="${adherent.typo}"></td>
                <td th:text="${adherent.mission}"></td>
                <td>
                    <a th:href="@{${adherent.website}}" th:text="site"></a>
                </td>
                <td th:text="${adherent.fullname}"></td>
                <td th:text="${adherent.role}"></td>
                <td th:text="${adherent.firstExpertise}"></td>
                <td th:text="${adherent.secondExpertise}"></td>
            </tr>
        </table>
        <!-- Affichage standard des données -->

        <div class="modal fade" id="ModalClementBouakil" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <img class="photo-profil" src="IMG/avatar1.png" width="150" alt="Photo de profil">
                  <h2 class="modal-title">Clément Bouakil</h2>
                </div>
                <div class="modal-body">
                  <h3>Qui suis-je ?</h3>
                  <p>Après une licence professionnelle en Web Design et une expérience de 3 ans en tant qu’infographiste et responsable e-commerce, j’ai rejoint la Wild Code School afin de me reconvertir dans le développement web afin d’obtenir un profil Front-end & Back-end. Motivé et passionné, je suis prêt à réussir cette nouvelle étape dans ma vie professionnelle.</p>
                  <p>Je suis prêt à me former sur un autre langage ou techno.</p>
    
                  <h3>Langages informatiques :</h3>
                  <p>JAVA - JEE - SPRING - ANDROID</p>
                  <p>HTML5 - CSS3</p>
      
                  <h3>Compétences professionnelles :</h3>
                  <p>GIT - GITHUB</p>
                  <p>MÉTHODE AGILE (Scrum)</p>
                  <p>PHOTOSHOP - ILLUSTRATOR - INDESIGN</p>
                  <p>BOOTSTRAP - WORDPRESS</p>
                  <p>MySQL</p>
                  <p></p>
    
                  <h3>Mobilité : </h3>
                  <p>Marne, Paris, Charleville-Mézières</p>
                  <ion-icon name="mail"></ion-icon> bouakil.clement.pro@gmail.com
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-dark" data-dismiss="modal">Fermer</button>
                </div>
              </div>
            </div>
          </div>

    </body>
</html>